
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar {
    overflow: hidden;
    background-color: rgba(9, 226, 9, 0.212);
}

 .header {
        padding: 80px;
        text-align: center;
        background: #0ac719;
        color: rgb(245, 245, 245);
    }
    .navbar a:hover {
        background-color: #0ac719;
        color: black;
    }