ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    width: 100%;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

div {
    text-align: center;
}

h1 {
    color:whitesmoke;
    font-size: 600%;
    font-style:"Castellar";
}

.f { 
    color:whitesmoke;
    font-size: 18px;
}

.l {
    width: 100%;
}

.row2 {
    width: 250%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

h1 {
    font-family: "Monotype Corsiva";
    text-align: center;
    color:red;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: "Georgia";
    color:whitesmoke;
    font-size: 30px;
    font-weight: bold;
    color: red;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p {
    font-family: "Georgia";
    color:whitesmoke;
    font-size: 25px;
    font-weight: bold;
    color: red;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
}

.c {
    text-align: center;
}

body{
    background-image: url("San-Francisco.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}