ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    width: 100%;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

div {
    text-align: center;
}

h1 {
    color: green;
    font-size: 500%;
    font-style:"Monotype Corsiva";
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#7f6582;
    text-align: center;
    font-family: "Harrington";
    text-align: center;
}

.f { 
    color:whitesmoke;
    font-size: 18px;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.l {
    width: 100%;
}

.row2 {
    width: 250%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

h1 {
    font-family: "Monotype Corsiva";
    text-align: center;
}

h2 {
    font-family: "Monotype Corsiva";
    color: green;
}

p {
    font-family: "Monotype Corsiva";
    color: rgb(0, 128, 0);
}

body {
    background-image:url("reb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}