ul {
    list-style-type: none;

    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #DAA520;
}
.parallax {
    background-image: url("R.E.B logo.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg {
    height: 200px;
    background: red; 
    background: linear-gradient(to bottom right, red, yellow); 
}
.align{
    align-items: flex-start
}